<html>
<head>

<style type="text/css">

body {background-color: white}


</style>

</head>

<body>
<div class="col-md-12">
   <div class="row box">
     <div class="box-inner col-md-6 col-md-offset-3">
       <h1 class="title">山峰島嶼</h1>
       <p class="slogan">台灣山域領航的專業團隊
         <br>
         <br>
         我們提供一流的薪資及完善的後勤支援
         <br>
         帶著新朋友去見見我們的山
       </p>
       <p class="lead">
         <%= link_to '往山裡去', jobs_path, class: 'btn btn-danger' %>
       </p>
     </div>
   </div>
 </div>


 <div class="content-section-b">
   <section id="feature" class="our-experts">
             <div class="container">
                 <div class="row">
                   <div class="row">
                     <div class="col-md-6 col-md-offset-3 text-center">
                       <h2 class="section-title">更接近人生的頂峰，更多精彩的可能</h2>
                       <div class="short-line"></div>
                       <p class="index-contect">
                         山峰島嶼由台灣多位資深山域教練共同創立。<br>
                         我們利用我們的經驗跟專業，降低開隊的風險，專業的法律顧問支援，讓你沒有後顧之憂，直往山裡去。
                       </p>
    <!-- Optional: clear the XS cols if their content doesn't match in height -->
    <div class="clearfix visible-xs-block"></div>
    <div class="col-xs-12 col-sm-12"><%= image_tag 'http://i.imgur.com/zLD5GLL.jpg', class: 'img-responsive' %></div>
                     </div>
                   </div>
                 </div>
             </div>
           </section>
  </div>

  <div class="content-section-a">
    <section id="service" class="what-we-do">
              <div class="container">
                <div class="row">
                  <div class="col-md-6 col-md-offset-3 text-center">
                    <h2 class="section-title">公司優勢</h2>
                    <div class="short-line"></div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-10 col-md-offset-1">
                    <div class="row">
                      <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="do-box">
                          <%= image_tag 'http://i.imgur.com/eLpKvjr.png', class: 'img-responsive' %>
                          <h3>優質職缺</h3>
                          <p>山峰島嶼與各大國際戶外廠牌合作，內有大量取得贊助的機會，只要你有能力，加入國際級隊伍不是夢。</p>
                        </div>
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="do-box">
                          <%= image_tag 'http://i.imgur.com/z3sGChn.png', class: 'img-responsive' %>
                          <h3>技能升級</h3>
                          <p>數據化的體能監測，讓你有最新的即時反饋以及教練的即時指導，工作不能只是停在原地！</p>
                        </div>
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="do-box">
                          <%= image_tag 'http://i.imgur.com/IfQp9qd.png', class: "img-responsive" %>
                          <h3>全球據點</h3>
                          <p>海外攀登卻沒有支應？我們的國際資源，讓你在當地也暢行無阻。</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
  </div>
</body>
</html>
